{{#kick}}{:edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}{{#sass}}
  :kick/sass {:builds [{:id "{{name}}"
                        :source "{{name}}.scss"
                        :target "public/{{name}}.css"}]}{{/sass}}{{#cljs}}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main {{root-ns}}.frontend.main
                                 :output-to "public/frontend.js"
                                 :output-dir "public/frontend.out"
                                 :asset-path "/frontend.out"
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}}]
                       :figwheel-config
                       {:ring-server-options
                        {:port {{figwheel-port}}}}}{{/cljs}}}

 :ig.system/base
 {:{{root-ns}}.core/string "Hello, {{name}}!"
  [:edge.yada.ig/classpath-name :{{root-ns}}/index] {:name "index.html"}
  [:edge.yada.ig/resources :{{root-ns}}/assets] {:path "public"}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port {{server-port}}}
  :edge.bidi.ig/vhost [["http://localhost:{{server-port}}"
                        [""
                         [["/" #ig/ref [:{{root-ns}}/index :edge.yada.ig/classpath-name]]
                          ["/hello" #ig/ref :{{root-ns}}.core/string]
                          ["" #ig/ref [:{{root-ns}}/assets :edge.yada.ig/resources]]]]]]}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]}

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}{{/kick}}{{^kick}}{{#web}}{:ig/system
 {:{{root-ns}}.core/string "Hello, {{name}}!"
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port {{server-port}}}
  :edge.bidi.ig/vhost [["http://localhost:{{server-port}}"
                        [""
                         [["/" #ig/ref :{{root-ns}}.core/string]]]]]}}{{/web}}{{^web}}{:ig/system
 {:{{root-ns}}.core/state {:events 0}}}{{/web}}{{/kick}}
