{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  juxt.edge/lib.app {:local/root "../lib/edge.app"}{{#web}}

  yada {:mvn/version "1.4.0-alpha1"}
  juxt.edge/yada.ig {:local/root "../lib/edge.ig.yada"}
  juxt.edge/bidi.ig {:local/root "../lib/edge.ig.bidi"}{{/web}}
  integrant {:mvn/version "0.7.0"}

  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib/edge.app.dev"}}}

  :prod
  {:extra-deps
   {juxt.edge/lib.app.prod {:local/root "../lib/edge.app.prod"}}}{{#kick}}

  :build {:extra-deps
          {juxt.edge/kick {:local/root "../lib/edge.kick"}
           juxt/kick.alpha
           {:git/url "https://github.com/juxt/kick.alpha.git"
            :sha "06063beadfa72dfe23480727c347976b608e8316"}{{#cljs}}
           org.clojure/clojurescript {:mvn/version "1.10.238"}{{#reframe}}
           reagent {:mvn/version "0.8.1"}
           re-frame {:mvn/version "0.10.6"}{{/reframe}}
           com.bhauman/figwheel-main {:mvn/version "0.2.0"}{{/cljs}}{{#sass}}
           deraen/sass4clj {:mvn/version "0.3.1"}{{/sass}}}}

  :build/once {:main-opts ["-m edge.kick"]}

  :dev/build
  {:extra-paths ["target/dev"]}

  :prod/build
  {:extra-paths ["target/prod"]}{{/kick}}}}
