/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-*
.hgignore
.hg/
/out
/deployment.tf.json
.mach
.terraform
/proposed.plan
/.cljs_rhino_repl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.tfstate.lock.info
node_modules
