;; Write up what the user needs?
;;  AWS_PROFILE
;;  key-name? - or even this is optional, but document if not present
;; Can we make the bucket if it doesn't exist for releases bucket (that'd be sweet)
;; Try with just a wild card in Yada/Bidi whatev (maybe Monday and Malcolm to consult)
;; Consider merging in just enough config from Mach (zone-id, aws-profile, name-prefix)

;; Merge this into resources/config?

{:aws-profile #env AWS_PROFILE
 :releases-bucket "demo-edge-releases"
 :environment "dev"

 :route-53-aliases [{:name-prefix "edge.juxt.cloud"
                     :zone-id "Z1JI8NSPH3VZUO"
                     :load-balancer :edge}]

 :load-balancers {:edge [{:listen 80
                          :forward 3080
                          :protocol "HTTP"}]}

 :services {:edge {:ami "ami-785db401"
                   :instance-type "m3.medium"
                   :key-name "edge-demo"
                   :instance-count 2
                   :port 3080
                   :launch-config {:template :java8
                                   :args {:jvm-opts ["-Xmx4g"]}}}}

 :asgs [{:service :edge
         :release-artifact :roll.core/latest-release-artifact
         :load-balancer :edge}]}
