# Systemd

[Unit]
Description=Edge # <1>

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecReload=kill -HUP $MAINPID
Restart=always
User=app # <2>
WorkingDirectory=/home/app/edge/app # <3>
ExecStart=/home/app/edge/app/bin/run %i # <4>

[Install]
WantedBy=multi-user.target
