:root {
  --main-bg-color: #EEEEEE;
  --content-color: #FAFAFA;

  --readable-grey: #999fa5;

  --blue-light: #29B6F6;
  --blue: #03A9F4;
  --blue-dark: #039BE5;

  font-family: 'Roboto', sans-serif;
}


body {
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
}

.card {
  background-color: var(--content-color);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

main {
  max-width: 960px;
  margin: 0 auto;
}

.tweet {
}

.tweet__content {
  padding: 1em 1.5em;
  padding-bottom: 0;
}

.tweet__author-name {
  font-size: 1.3em;
  margin-bottom: 0;

  display: block;
}

.tweet__author-username {
  font-size: 0.9em;
  color: var(--readable-grey);
  margin-top: 0;

  font-weight: normal;
  display: block;

  text-decoration: none;
}

.tweet__author-username:hover {
  text-decoration: underline;
}

.tweet__body {
}

.tweet__actions {
  background-color: #f6f6f8;
  padding: 0.5em 1em;
}

.tweet__actions .tweet__action {
  margin-right: 1em;
}


.tweet__actions .tweet__action:last-of-type {
  margin-right: 0;
}

.tweet__action {
  color: var(--readable-grey);

  text-decoration: none;
}

.tweet__action:hover {
  text-decoration: underline;
}

.tweet__action--active {
  color: var(--blue)
}

.tweets > .tweet {
  margin-bottom: 20px;
}

.star:before {
 content: "\2605";
 font-size: 1.2em;
}

.star,.eye {
 vertical-align: middle;
}

.eye:before {
 content: "\1F441";
 font-size: 1.2em;
}

@keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.tweet {
  animation: fadein 0.5s;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  padding-right: 20px;
  grid-template-areas: "sidebar content";


  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;

  min-height: 100vh;
}

.wrapper .primary-nav {
  grid-area: sidebar;
}


.wrapper main {
  grid-area: content;
  width: 100%;
}

.primary-nav {
  color: white;
  background-color: var(--blue);
}

.primary-nav__list {
  list-style: none;
  padding-left: 0;
}

.primary-nav__item {
  display: block;
  max-width: 100%;
  transition: background-color 250ms ease-in-out;
}

.primary-nav__item a {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
}

.primary-nav__item a:hover, .primary-nav__item a:active, .primary-nav__item a:focus {
  outline: none;
  background-color: var(--blue-light);
}

.primary-nav a {
  color: white;
}

.primary-nav__logo {
  font-size: 1.3em;
  padding: 0 2rem;
  font-weight: bold;
  margin-top: 1rem;
  display: block;
}

/* https://codepen.io/pawelqcm/pen/dMqrqd */
.loader {
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;

  position: relative;

  --bgc: var(--main-bg-color);
  --line-color: var(--blue);
  background-color: var(--bgc);
}

.loader__text {
  width: 200px;

  position: absolute;
  top: 5.5em;
  color: var(--line-color);
}

.loader__hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid var(--line-color);
  transform: rotate(45deg);
}

.loader__hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: var(--bgc);
}

.loader__box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid var(--line-color);
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: loader 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes loader {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Button {
  border:1px solid #099bde;
  border-radius: 3px;
  padding: 7px 7px 7px 7px;
  text-decoration:none;
  display:inline-block;
  font-weight:bold;
  color: #FFFFFF;

  background: linear-gradient(to bottom, var(--blue-light), var(--blue));
}

.Button:hover{
 border:1px solid #077cb2;
 background: linear-gradient(to bottom, var(--blue), var(--blue-dark));
}

.compose {
  margin-bottom: 20px;
}

.compose__input {
  width: 100%;
  font-size: 16px;
  padding: 0.5em;

  box-sizing: border-box;

  line-height: 1.2;
  /* 1em from 2x 0.5em padding, + 0.1 rounding error causing scrollbar */
  height: calc(4em * 1.2 + 1.1em);
}

.compose__actions {
  text-align: right;
  background-color: #f6f6f8;
  padding: 0.5em 1em;
}
