{
 :ig/system
 {
  ;; This value is asynchronously initialised, partially to speed up
  ;; resets. The '*' prefix indicates a reference rather than value.
  :tutorial.oic.oic/*client
  {:oauth/client-id "insert client-id here"
   :oauth/client-secret "insert client-secret here"
   :oauth/redirect-uri "http://localhost:3000/oauth-callback"
   :openid-connect/configuration-url "https://insert-domain-here/.well-known/openid-configuration"}

  :tutorial.oic.web/authorize
  {:tutorial.oic.oic/*client #ig/ref :tutorial.oic.oic/*client}

  :tutorial.oic.web/oauth-callback
  {:tutorial.oic.oic/*client #ig/ref :tutorial.oic.oic/*client}

  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 3000}
  :edge.bidi.ig/vhost
  [["http://localhost:3000"
    [""
     [["/authorize" #ig/ref :tutorial.oic.web/authorize]
      ["/oauth-callback" #ig/ref :tutorial.oic.web/oauth-callback]
      ]]]]}}
