{:objects
 {:person
  {:fields {:firstname {:type String}
            :surname {:type String}
            :phone {:type String}}}}

 :queries
 {:person {:type (non-null :person)
           :args {:id {:type Int}}
           :resolve :person}}


 :subscriptions
 {:personupdates
  {:type :person
   :args {}
   :stream :stream-person
   }}

 }
