{:paths ["src"]
 :deps {juxt/crux-core {:mvn/version "20.03-1.7.1-alpha"}
        integrant {:mvn/version "0.7.0"}}
 :aliases
 {:dev
  {:extra-deps
   {juxt/crux-rocksdb {:mvn/version "20.03-1.7.1-alpha"}}}}}
