{:paths ["src"]
 :deps
 {juxt/crux {:mvn/version "19.04-1.0.4-alpha-SNAPSHOT"}
  integrant {:mvn/version "0.7.0"}}
 :aliases
 {:dev
  {:extra-deps
   {org.rocksdb/rocksdbjni {:mvn/version "5.17.2"}}}}}
