;; Copyright © 2020, JUXT LTD.

{:ig/system
 {:juxt.flux.ig/server {:vertx #ig/ref :juxt.flux.ig/vertx
                        :port 8082
                        :create-handler juxt.mmxx.app/create-handler
                        :dynamic? true
                        :crux #ig/ref :juxt.mmxx.crux/node}

  :juxt.flux.ig/vertx {}

  :juxt.mmxx.crux/node {}

  :juxt.mmxx.seeder/seeder {:crux #ig/ref :juxt.mmxx.crux/node}}}
