;; Copyright © 2020, JUXT LTD.

{:ig/system
 {:juxt.vext.ig/server {:vertx #ig/ref :juxt.vext.ig/vertx
                        :port 2020
                        :create-handler juxt.mmxx.app/create-handler
                        :dynamic? true
                        :crux #ig/ref :juxt.mmxx.crux/node
                        :file-store "/tmp/crux-cms-file-store"}

  :juxt.vext.ig/vertx {}

  :juxt.mmxx.crux/node {}

  :juxt.mmxx.seeder/seeder {:crux #ig/ref :juxt.mmxx.crux/node}}}
