;; Copyright © 2020, JUXT LTD.

{:ig/system
 {:juxt.flux.ig/server {:vertx #ig/ref :juxt.flux.ig/vertx
                        :port 8082
                        ;;:node #ig/ref :juxt.crux.ig/system
                        :create-handler juxt.mmxx.handler/create-handler
                        :dynamic? true
                        :crux #ig/ref :juxt.crux.ig/system}

  :juxt.flux.ig/vertx {}

  :juxt.crux.ig/system {:crux.node/topology [crux.standalone/topology crux.kv.rocksdb/kv-store]}

  :juxt.mmxx.seeder/seeder {:crux #ig/ref :juxt.crux.ig/system}
  }}
