{:ig/system
 {:juxt.crux.demo.foo/read-write {:system #ig/ref :juxt.crux.ig/system}
  :juxt.crux.ig.system/standalone {:kv-backend "crux.kv.rocksdb.RocksKv"}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 8300}
  :edge.bidi.ig/vhost [["http://localhost:8300"
                        [""
                         [["/" #ig/ref :juxt.crux.demo.foo/read-write]]]]]}}
