{"docinfo" "shared"
 "docinfodir" "doc"
 "experimental" true
 "figure-caption" false
 "highlightjs-theme" "tomorrow-night"
 "highlightjsdir" "/public/highlight"
 "icons" "font"
 "iconfont-cdn" "/public/css/font-awesome.min.css"
 "icontype" "svg"
 "imagesdir" "/public/img"
 "nofooter" true
 "sectnums" true
 "sectanchors" true
 "source-highlighter" "highlightjs"
 "stylesdir" "../doc/resources/doc/asciidoctor/css"
 "stylesheet" "juxt.css"
 "toc" "left"
 "webfonts" false
 "xrefstyle" "full"}
