{:ig/system
 {:{{root-ns}}.foo/string "Hello, {{name}}!"{{#kick}}
  [:{{root-ns}}/index :edge.yada.ig/classpath-name] {:name "index.html"}
  [:{{root-ns}}/assets :edge.yada.ig/resources] {:path "public/"}{{/kick}}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 3000}
  :edge.bidi.ig/vhost [["http://localhost:3000"
                        [""
                         [{{#kick}}["/" #ig/ref [:{{root-ns}}/index :edge.yada.ig/classpath-name]]
                          {{/kick}}[{{^kick}}"/"{{/kick}}{{#kick}}"/hello"{{/kick}} #ig/ref :{{root-ns}}.foo/string]{{#kick}}
                          ["" #ig/ref [:{{root-ns}}/assets :edge.yada.ig/resources]]{{/kick}}]]]]{{#kick}}
  :edge.kick/builder
  {:kick.builder/target #profile {:dev "target/dev"
                                  :prod "target/prod"}{{#sass}}
   :kick/sass {:builds [{:id "{{name}}"
                         :source "{{name}}.scss"
                         :target "public/{{name}}.css"}]}{{/sass}}{{#cljs}}
   :kick/figwheel-main {:builds [{:id "app"
                                  :main {{root-ns}}.frontend.main
                                  :output-to "public/frontend.js"
                                  :output-dir "public/frontend.out"
                                  :asset-path "/frontend.out"
                                  :optimizations #profile {:dev :none
                                                           :prod :advanced}}]}{{/cljs}}}{{/kick}}}}
