{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "RELEASE"}
  juxt.edge/lib.app {:local/root "../lib.app"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib.app.dev"}}}}}
