{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  juxt.edge/lib.app {:local/root "../lib.app"}

  yada {:mvn/version "1.2.15"}
  juxt.edge/yada.ig {:local/root "../lib.ig.yada"}
  juxt.edge/bidi.ig {:local/root "../lib.ig.bidi"}

  integrant {:mvn/version "0.7.0"}
  
  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}}
  
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib.app.dev"}}}{{#kick}}

  :build {:extra-deps
          {juxt.edge/kick {:local/root "../edge.kick"}
           juxt/kick.alpha
           {:git/url "https://github.com/juxt/kick.alpha.git"
            :sha "dbbb11e77d25a96b4c59371a2d2f084b759646f3"}{{#cljs}}
           com.bhauman/figwheel-main {:mvn/version "0.1.9"}{{/cljs}}{{#sass}}
           deraen/sass4clj {:mvn/version "0.3.1"}{{/sass}}}}

  :build/once {:main-opts ["-m edge.kick"]}

  :dev/build
  {:extra-paths ["target/dev"]}

  :prod/build
  {:extra-paths ["target/prod"]}{{/kick}}}}
