html, body {
  background-color: #eee;
  height: 100%;
  font-family: sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
    margin: auto;
}

nav {
    margin: 0;
    background-color: #333333;
}

h1 {
    padding: 2rem;
    margin: auto;
    color: #f4901d;
}

.content {
    background-color: white;
    padding: 0 2rem 0 2rem;
    max-width: 960px;
    width: 90vw;
    margin: 2rem auto;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(68, 68, 68, 0.2);
    text-align: center;
}

#app {
    box-sizing: border-box;
    min-height: 50px;
    padding: 1em;
    width: 100%;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(68, 68, 68, 0.2);
}
