{% extends "_wrapper.html" %}

{% block main %}

<h1>Snake Game!</h1>

<svg width="300px" height="300px"
     xmlns="http://www.w3.org/2000/svg">
  <g id="game">
  <rect width="300" height="300" style="fill:rgb(255,255,255);stroke-width:3;stroke:black" />

  <rect x="100" y="100" width="9" height="9" style="fill:red"/>
  <rect x="110" y="100" width="9" height="9" style="fill:red"/>
  <rect x="120" y="100" width="9" height="9" style="fill:red"/>

  <rect x="130" y="100" width="9" height="9" style="fill:red"/>
  <rect x="134" y="102" width="2" height="2" style="fill:yellow"/>
  <rect x="137" y="102" width="2" height="2" style="fill:yellow"/>
  </g>

</svg>

{% endblock %}
