# Systemd

[Unit]
Description=Edge

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/home/app/edge/app/bin/run %i
ExecReload=kill -HUP $MAINPID
Restart=always
User=app
WorkingDirectory=/home/app/edge/app

[Install]
WantedBy=multi-user.target
