{:ig/system
 {:yada.example-auth/basic-auth-example-resource

  ;; Passwords in clear-text
  {:users {"alice" {:yada.example-auth/name "Alice Roberts"
                    :yada.example-auth/password "Seeshai6"}
           "bob2" {:yada.example-auth/name "Bob Mortimer"
                  :yada.example-auth/password "bohthoM6"}}}

  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 3080}

  :edge.bidi.ig/vhost [["http://localhost:3080"
                        ["/"
                         [["basic" #ig/ref :yada.example-auth/basic-auth-example-resource]]]]]}}
