;; Copyright © 2020, JUXT LTD.

{:paths ["src" "test"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  juxt.edge/lib.app {:local/root "../lib/edge.app"}

  integrant/integrant {:mvn/version "0.7.0"}

  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}

  ;; Crux
  juxt/crux-core {:mvn/version "20.09-1.11.0-beta"}
  juxt/crux-rocksdb {:mvn/version "20.09-1.11.0-beta"}
  juxt/crux-http-server {:mvn/version "20.09-1.11.0-alpha"}

  juxt.vext/ig {:local/root "../lib/juxt.vext.ig"}

  juxt/spin #_{:git/url "https://github.com/juxt/spin.git"
               :sha "1852b341738e4889b90cdecd0792124dc21250a3"}
  {:local/root "../../../spin"}

  ;; temp
  juxt/vext {:local/root "../../../vext"}

  juxt/pick {:git/url "https://github.com/juxt/pick.git"
             :sha "e327e1b17cd626504c488ff705c0a03b7c81c142"}

  ;; Payload compiler dependencies
  org.asciidoctor/asciidoctorj {:mvn/version "2.4.0"}
  selmer/selmer {:mvn/version "1.12.28"}

  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib/edge.app.dev"}}}

  :prod
  {:extra-deps
   {juxt.edge/lib.app.prod {:local/root "../lib/edge.app.prod"}}}}}
