;; Copyright © 2020, JUXT LTD.

{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  juxt.edge/lib.app {:local/root "../lib/edge.app"}

  integrant/integrant {:mvn/version "0.7.0"}

  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}
  juxt.crux/ig {:local/root "../lib/crux.ig"}

  juxt/flux {:local/root "../../../flux"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib/edge.app.dev"}}}

  :prod
  {:extra-deps
   {juxt.edge/lib.app.prod {:local/root "../lib/edge.app.prod"}}}}}
