;; Copyright © 2020, JUXT LTD.

{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  juxt.edge/lib.app {:local/root "../lib/edge.app"}

  integrant/integrant {:mvn/version "0.7.0"}

  org.clojure/tools.logging {:mvn/version "0.5.0-alpha"}

  ;; Crux
  juxt/crux-core {:mvn/version "20.09-1.11.0-beta"}
  juxt/crux-rocksdb {:mvn/version "20.09-1.11.0-beta"}
  juxt/crux-http-server {:mvn/version "20.09-1.11.0-alpha"}

  juxt.vext/ig {:local/root "../lib/juxt.vext.ig"}

  juxt/spin {:git/url "https://github.com/juxt/spin.git"
             :sha "691447c0cab47dd94b77a352f98a10162925c1e6"}

  ;; temp
  juxt/vext {:local/root "../../../vext"}

  juxt/pick {:git/url "https://github.com/juxt/pick.git"
             :sha "a2a5eae44b24c296d7718dd79e768b3abafd1c5c"}

  ;; Payload compiler dependencies
  org.asciidoctor/asciidoctorj {:mvn/version "2.4.0"}
  selmer {:mvn/version "1.12.28"}

  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps
   {juxt.edge/lib.app.dev {:local/root "../lib/edge.app.dev"}}}

  :prod
  {:extra-deps
   {juxt.edge/lib.app.prod {:local/root "../lib/edge.app.prod"}}}}}
