<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A single page application written in ClojureScript">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edge Phonebook (ClojureScript)</title>

    <!-- Here we link to the CSS we built for the phonebook-api's HTML
    representation. Although we could create our own Sass in this
    module, it would be wasteful in this case. -->
    <link rel="stylesheet" href="{% url edge.phonebook.routes/css %}phonebook.css"/>
  </head>

  <body>
    {% block body %}
    <main>
    {% block main %}
    {% endblock %}
    </main>
    {% endblock %}
  </body>
</html>
